---
layout: page
title: Blog
---
<!-- <section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section> -->

<section class="categories">
<!--   <h2>分类</h2> -->
  <ul>
    {% assign categories = site.categories %}
    {% for category in categories %}
      <li><a href="{{ site.baseurl }}/categories/{{ category[0] }}">{{ category[0] }} ({{ category[1].size }})</a></li>
    {% endfor %}
  </ul>
</section>