/* 选择所有 <code> 元素 */
h1 {
  font-size: 2.5em !important; /* 一级标题字体大小 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 5px; /* 添加一些内边距 */
  border-radius: 5px; /* 可选，添加圆角 */
  margin: 20px 0; /* 添加一些间距 */
}

h2 {
  font-size: 1.5em !important; /* 二级标题字体大小 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 5px; /* 添加一些内边距 */
  border-radius: 5px; /* 可选，添加圆角 */
  margin: 20px 0; /* 添加一些间距 */
}

h3 {
  font-size: 1.2em !important; /* 三级标题字体大小 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 5px; /* 添加一些内边距 */
  border-radius: 5px; /* 可选，添加圆角 */
  margin: 20px 0; /* 添加一些间距 */
}

h4 {
  font-size: 1em !important; /* 三级标题字体大小 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 5px; /* 添加一些内边距 */
  border-radius: 5px; /* 可选，添加圆角 */
  margin: 20px 0; /* 添加一些间距 */
}

/*.post-page h1, .post-page h2, .post-page h3, .post-page h4 {
   color: white;
}*/

a {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  /*font-weight: bold;*/
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 5px; /* 添加一些内边距 */
  border-radius: 5px; /* 可选，添加圆角 */
  margin: 20px 0; /* 添加一些间距 */
}

a:visited { 
  color: #5a5a5a;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:active {
  color: #003d7a;
}

p {
  font-size: 18px ;
  line-height: 1.6; /* 行高 */
  /*color: black;*/ /* 段落颜色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 5px; /* 添加一些内边距 */
  border-radius: 5px; /* 可选，添加圆角 */
  margin-left: 0px; /* 调整左边距 */
}
/*.post-page p {
  color: white;
}*/
/*.post-page p strong{
   color: white !important;  示例：设置加粗字体颜色为黑色 
}*/

.footer-main {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* 设置字体家族 */
  font-size: 16px; /* 设置字体大小 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: normal; /* 设置字体粗细 */
  color: #333; /* 设置字体颜色 */
  text-align: center; /* 居中对齐 */
  margin-top: 40px !important; /* 外边距 */
  padding: 10px; /* 内边距 */
}
/*.post-page ul li, ol li {
    color: white !important;
}*/

code {
    font-size: 16px !important; /* 调整为你需要的字体大小 */
}

/* 选择所有 <pre> 元素 */
pre {
    font-size: 16px !important; /* 调整为你需要的字体大小 */
    width: 900px !important; /* 设置最大宽度 */
    /*white-space: pre-wrap;*/ /* 自动换行 */
    overflow-x: auto;
}

/* 选择所有带有 .highlight 类的元素，常用于代码高亮 */
.highlight {
    font-size: 17px !important; /* 调整为你需要的字体大小 */
}

/* 如果你的代码块有特定的类名，比如 .code-block */
.code-block {
    font-size: 17px !important; /* 调整为你需要的字体大小 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.container {
  display: flex ; /* 使用 flex 布局 */
  flex-direction: row; /* 水平排列子元素 */
}

/*侧边栏*/
.sidebar {
  position: fixed ; /* 固定在屏幕的最左侧 */
  width: 600px ; /* 侧边栏宽度 */
  padding: 20px ;
  background-color: transparent; /* 背景颜色 */
  border-right: 0px solid #ddd ; /* 边框颜色 */
  height: 100vh ; /* 高度为视口高度 */
  overflow-y: auto ; /* 超出时显示滚动条 */
  box-sizing: border-box ; /* 包含 padding 和 border */
  z-index: 1000 ; /* 确保侧边栏在内容上层 */
  top: 0 ;
  font-size: 18px !important;
  color: #A9A9A9 !important;
  left: -600px; /* 隐藏在左侧 */
 /* color: white;*/
  transition: left 0.3s ease; /* 平滑过渡效果 */
  scrollbar-width: none;
  border: none;
}
.sidebar::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 (适用于 Chrome, Safari 和 Edge) */
}
.sidebar h1 {
  font-size: 1.5em !important;
  color: black !important; /* Red color for h1 */
}

.sidebar h2 {
    font-size: 1.3em !important;
    color: black; /* Green color for h2 */
}

.sidebar h3 {
    font-size: 1.2em !important;
    color: black !important; /* Blue color for h3 */
}

.sidebar h4 {
    font-size: 1em !important;
    color: black !important; /* Blue color for h3 */
}
/* 侧边栏显示时的样式 */
.sidebar.show {
  left: 0; /* 显示在左侧 */
}

/* 侧边栏触发按钮 */
.sidebar-toggle {
  width: 20px; /* 按钮宽度 */
  height: 20px; /* 按钮高度 */
  border-radius: 50%; /* 设置为圆形 */
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: transparent;
 /* color: white;*/
  padding: 10px;
  cursor: pointer;
  z-index: 1001; /* 确保按钮在侧边栏之上 */
  display: flex; /* 使用 flexbox 来居中对齐图标 */
  justify-content: center; /* 居中对齐水平 */
  align-items: center; /* 居中对齐垂直 */
}

.sidebar ul {
    list-style-type: none;
    padding-left: 1em;
}

.sidebar ul ul {
    margin-left: 1em;
    list-style-type: disc;
}


.sidebar ul li {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: fade;
    max-width: 600px; /* 设置标题的最大宽度 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
}

.sidebar ul li:hover::after {
    content: attr(data-fulltext); /* 显示完整的标题文本 */
    position: absolute;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    left: 0;
    top: 100%;
    z-index: 1000;
    max-width: none;
}

.sidebar a {
  text-decoration: none; /* 取消下划线 */
}
.container > .sidebar {
  margin-right: 0px; /* 确保侧边栏和内容之间的间距 */
}
.main-content {
  flex: 1;
  margin-left: -20px;  /*可以调整微博正文的位置 */
  padding: 10px ;
  box-sizing: border-box ; /* 确保 padding 包含在宽度内 */
}
/*.sidebar.show + .main-content {
  margin-left: 600px; 
}*/
/* 调整主体内容的边距 */

#table-of-contents {
  margin: 0 ;
  padding: 0 ;
}

#table-of-contents h2 {
  font-size: 1.5em ;
  margin-bottom: 16px;
}

#table-of-contents ul {
  list-style-type: none ;
  padding-left: 0 ;
}

#table-of-contents li {
  margin: 5px 0 ;
}
/*分类字体*/
.categories {
  margin-top: 20px;  /* 调整顶部外边距 */
  margin-left: auto; /* 自动左边距，将其靠右 */
  margin-right: auto;/* 自动右边距，将其居中 */
  padding: 20px;     /* 内边距 */
  width: 50%;        /* 设置宽度为父元素的50% */
  background-color: #FFFFFF; /* 背景颜色 */
}
/* 分类页面标题的样式 */
.categories h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* 分类列表的样式 */
.categories ul {
  list-style: none;
  padding: 0;
}

/* 分类项的样式 */
.categories ul li {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-size: 20px;
  color: #666;
}

/* 分类链接的样式 */
.categories ul li a {
  text-decoration: none;
  color: #007bff;
}

.categories ul li a:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* 确保Katex样式优先级更高 */
body .katex {
    font-size: 18px !important; /* 你可以调整公式的字体大小 */
    /*color: white;   你可以设置公式的颜色 */
    font-family: 'Times New Roman', Times, serif; /* 你可以设置公式的字体 */
}


/* 默认隐藏折叠项 */
ul.collapsible {
    display: block; /* 默认隐藏 */
    padding-left: 20px; /* 缩进子目录 */
    margin: 0; /* 移除默认外边距 */
}

/* 父目录项样式 */
.toc-item.parent {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block; /* 确保每个目录项为块级元素 */
}

/* 父目录项的链接样式 */
.toc-item.parent > a {
    font-family: 'Open Sans', sans-serif; 
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 0px 5px; /* 调整内边距以减少上下间距 */
    margin: 0; /* 移除默认外边距 */
    font-size: 17px; /* 设置父目录项的字体大小 */
    font-weight: normal; /* 设置父目录项的字体粗细 */
}

/* 子目录项样式 */
.toc-item.child {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block; /* 确保每个目录项为块级元素 */
}

/* 子目录项的链接样式 */
.toc-item.child > a {
    text-decoration: none;
    color: #363636;
    display: inline-block;
    padding: 0px 5px; /* 调整内边距以减少上下间距 */
    margin: 0; /* 移除默认外边距 */
    font-size: 15px; /* 设置子目录项的字体大小 */
    font-weight: normal; /* 设置子目录项的字体粗细 */
    font-family: 'Lato', sans-serif;
}

/* 2级子目录样式 */
.toc-level-2.child > a {
    font-family: 'Open Sans', sans-serif; 
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 0px 5px; /* 调整内边距以减少上下间距 */
    margin: 0; /* 移除默认外边距 */
    font-size: 17px; /* 设置父目录项的字体大小 */
    font-weight: normal; /* 设置父目录项的字体粗细 */
}

.toc-level-3 > a,
.toc-level-4 > a,
.toc-level-5 > a {
    text-decoration: none;
    color: #363636;
    display: inline-block;
    padding: 0px 5px; /* 调整内边距以减少上下间距 */
    margin: 0; /* 移除默认外边距 */
    font-size: 15px; /* 设置子目录项的字体大小 */
    font-weight: normal; /* 设置子目录项的字体粗细 */
    font-family: 'Lato', sans-serif;
}


/* 折叠按钮样式 */
.collapse-button {
    cursor: pointer;
    color: #000000;
    font-size: 0.8em;
    margin-right: 0;
    margin-top: 0; /* 移除顶部和底部外边距 */
    margin-bottom: 0;
}

.no-collapse-button {
    display: inline-block;
    width: 0;
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}
