---
layout: page
---

{% if page.background_image %}
  <style>
    html, body {
      height: 100% ;
      margin: 0 ;
      padding: 0 ;
      overflow: auto ;
    }

    body {
      position: relative ;
      background-image: url('{{ page.background_image }}') ;
      background-size: cover ;
      background-repeat: no-repeat ;
      background-attachment: fixed ;
      background-position: center ;
    }

    body::before {
      content: "" ;
      position: absolute ;
      top: 0 ;
      left: 0 ;
      width: 100% ;
      height: 100% ;
      background-image: url('{{ page.background_image }}') ;
      background-size: cover ;
      background-repeat: no-repeat ;
      background-attachment: fixed ;
      background-position: center ;
      opacity: 0.5 ;
      z-index: -1 ;
    }
    .title-image {
      max-width: 100% ;
      height: auto ;
    }

    .container {
      display: flex ; /* 使用 flex 布局 */
    }

    .sidebar {
      position: fixed ; /* 固定在屏幕的最左侧 */
      width: 250px ; /* 侧边栏宽度 */
      padding: 20px ;
      background-color: #F5F5DC ; /* 背景颜色 */
      border-right: 0px solid #ddd ; /* 边框颜色 */
      height: 100vh ; /* 高度为视口高度 */
      overflow-y: auto ; /* 超出时显示滚动条 */
      box-sizing: border-box ; /* 包含 padding 和 border */
      z-index: 1000 ; /* 确保侧边栏在内容上层 */
      left: 0 ; /* 确保侧边栏在屏幕左边 */
      top: 0 ;
    }

    .main-content {
      margin-left: 150px ; /* 确保内容区域有足够空间避免与侧边栏重叠 */
      padding: 20px ;
      box-sizing: border-box ; /* 确保 padding 包含在宽度内 */
    }

    #table-of-contents {
      margin: 0 ;
      padding: 0 ;
    }

    #table-of-contents h2 {
      font-size: 1.5em ;
      margin-bottom: 10px ;
    }

    #table-of-contents ul {
      list-style-type: none ;
      padding-left: 0 ;
    }

    #table-of-contents li {
      margin: 5px 0 ;
    }
  </style>
{% endif %}

{% if page.image %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

<div class="container">
    <!-- 侧边栏 -->
    <aside class="sidebar">
        <div id="table-of-contents">
          <h2>目录</h2>
          <ul>
            {% assign headings = site.content | where: "title", "" %}
            {% for heading in headings %}
              <li><a href="#{{ heading.id }}">{{ heading.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </aside>

    <!-- 主要内容区域 -->
    <main class="main-content">
        {{ content }}
    </main>
</div>

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.hidden == false and page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.hidden == false and page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
