---
layout: page
---

{% if page.background_image %}
  <style>
    html, body {
      height: 100% ;
      margin: 0 ;
      padding: 0 ;
      overflow: auto ;
    }

    body {
      position: relative ;
      background-image: url('{{ page.background_image }}') ;
      background-size: cover ;
      background-repeat: no-repeat ;
      background-attachment: fixed ;
      background-position: top center;
    }

    body::before {
      content: "" ;
      top: 0 ;
      left: 0 ;
      width: 100% ;
      height: 100% ;
      background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色覆盖层 */
      opacity: 0.5 ;
      z-index: -1 ;
    }
    .title-image {
      max-width: 100% ;
      height: auto ;
    }
  </style>
{% endif %}

{% if page.image %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}
<body>
<div class="container post-page">
    <!-- 侧边栏 -->
<aside id="sidebar" class="sidebar">
    <div id="table-of-contents">
        <h2>目录</h2>
        <ul>
            {% assign headings = content | markdownify | split: '<h' %}
            {% assign current_level = 0 %}
            {% assign levels = "" %}
            {% for heading in headings %}
                {% assign level = 0 %}
                {% if heading contains '2>' %}
                    {% assign level = 2 %}
                {% elsif heading contains '3>' %}
                    {% assign level = 3 %}
                {% elsif heading contains '4>' %}
                    {% assign level = 4 %}
                {% elsif heading contains '5>' %}
                    {% assign level = 5 %}
                {% endif %}

                {% if level > 0 %}
                    {% assign id = heading | split: 'id="' %}
                    {% assign id = id[1] | split: '"' %}
                    {% assign id = id[0] %}
                    {% assign title = heading | split: '>' %}
                    {% assign title = title[1] | split: '<' %}
                    {% assign title = title[0] %}
                    {% assign has_children = false %}
                    {% assign index = forloop.index0 %}
                    {% for next_heading in headings offset: index %}
                        {% if next_heading contains 'h' %}
                            {% assign next_level_str = next_heading | split: '>' | first %}
                            {% assign next_level = next_level_str | slice: 0 | plus: 0 %}
                            {% if next_level > level %}
                                {% assign has_children = true %}
                                {% break %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if level > current_level %}
                        {% assign levels = levels | append: "<ul class='collapsible'>" %}
                    {% elsif level < current_level %}
                        {% assign diff = current_level | minus: level %}
                        {% for i in (1..diff) %}
                            {% assign levels = levels | append: "</li></ul>" %}
                        {% endfor %}
                    {% else %}
                        {% assign levels = levels | append: "</li>" %}
                    {% endif %}

                    {% if has_children %}
                        {% assign levels = levels | append: "<li class='toc-item toc-level-" | append: level | append: " parent'><span class='collapse-button'>></span><a href='#" | append: id | append: "'>" | append: title | append: "</a>" %}
                    {% else %}
                        {% assign levels = levels | append: "<li class='toc-item toc-level-" | append: level | append: " child'><span class='no-collapse-button'></span><a href='#" | append: id | append: "'>" | append: title | append: "</a>" %}
                    {% endif %}

                    {% assign current_level = level %}
                {% endif %}
            {% endfor %}
            {% for i in (1..current_level) %}
                {% assign levels = levels | append: "</li></ul>" %}
            {% endfor %}
            {{ levels }}
        </ul>
    </div>
</aside>
    <div id="toggle-button" class="sidebar-toggle">☰</div>
    <!-- 主要内容区域 -->
    <main class="main-content">
        {{ content }}
    </main>

</div>
</body>
{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.hidden == false and page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.hidden == false and page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
